## Vihecles_us

## Contents <a id='back'></a>

* [introduction](#intro)
* 1. [Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* 2. [Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)

## Introduction <a id='intro'></a>

Vihecles_us is a dataset on car sales advertisements. The dataset contains advertisements data like model year, model, condition, odometer and etc. This notbook contains some basic exploratory analysis of the dataset like handling missing values, remiving duplicates, correct data types and etc.

## Data Overview <a id='data_review'></a>

Opening the data on vehicles_us and exploring it.
First, we import the dataset and print the first 10 table rows using the "pandas" library.

In [6]:
#importing pandas
import pandas as pd

df = pd.read_csv('vehicles_us.csv')
#obtaining the first 10 rows
df.tail(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
51515,12000,2005.0,chevrolet silverado 2500hd,good,8.0,diesel,228000.0,automatic,pickup,silver,1.0,2018-08-18,52
51516,8999,2011.0,jeep grand cherokee,good,6.0,gas,NaN,automatic,SUV,white,1.0,2018-11-01,51
51517,11000,2012.0,dodge charger,excellent,8.0,gas,81000.0,automatic,sedan,black,NaN,2019-04-19,44
51518,3750,2005.0,ford taurus,excellent,6.0,gas,110200.0,automatic,sedan,silver,NaN,2018-08-10,63
51519,11750,2015.0,honda accord,excellent,4.0,gas,NaN,automatic,coupe,NaN,NaN,2018-11-24,89
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

Obtaining the general information about the table:

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

The table contains thirteen columns. Columns data type: int64, float64, object.

According to the documentation:

* `'price'` - Vehicle's price.
* `'model_year'` - Model year of the vihecle.
* `'model'` - Model of the vihecle.
* `'condition'` - Condition of the vihecle(good, like new etc.)
* `'cylinders'` - Number of engine cylinders.
* `'fuel'` - Fuel type(gas, diesel).
* `'odometer'` - Vehicle's mileage.
* `'transmission'` - Gear type.
* `'type'` - Vehicle's type(SUV, pickup, sedan etc.).
* `'paint_color'` - Color of the vehicle.
* `'is_4wd'` - Four-wheel drive.
* `'date_posted'` - Date advertisement published.
* `'days_listed'` - Number of days the ad is active.

The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a>

Each row in the table stores data on vehicle advertisement. Some columns describe the vehicle and some columns contains information about the ad.

[Back to Contents](#back)

## 2. Data preprocessing <a id='data_preprocessing'></a>

Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

### Header style <a id='header_style'></a>
Printing the column header:

In [8]:
# the list of column names in the df table
df.columns

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

Column names are acceptable according to the rules of good style:
* If the name has several words, use snake_case.
* All characters must be lowercase.
* Delete spaces

### Missing values <a id='missing_values'></a>
First, finding the number of missing values in the table.

In [9]:
# calculating missing values
df.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

Replace the missing values in `'model_year'`, `'cylinders'`, `'odometer'`, `'paint_color'`, and `'is_4wd'` with the string `'NaN'`.

In [10]:
#looping over column names and replacing missing values with 'unknown'
columns_to_replace = ['model_year', 'cylinders', 'odometer', 'paint_color', 'is_4wd']

for column in columns_to_replace:
    df[column] = df[column].fillna('NaN')

Counting the missing values again.

In [11]:
# counting missing values
df.isna().sum()

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Finding the number of obvious duplicates in the table.

In [13]:
# counting clear duplicates
df.duplicated().sum()

np.int64(0)

Seems like the table has no duplicates.

### Conclusions <a id='data_preprocessing_conclusions'></a>

We detected missing values in the table. All missing values have been replaced with `'NaN'`.